.cart {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    /* padding-bottom: 1080px; */
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .cart h2 {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart li {
    margin-bottom: 10px;
  }

  .footer {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
  }