.plant-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 380px;
    text-align: center;
    background-color: #f9f9f9;
    float: left;
    border-radius: 25px;
    
  }
  
  .plant-image {
    width: 350px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 25px;
  }
  .plant-image:hover{
    transform: scale(1.1);
  }
  
  .plant-card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    padding-right: 250px;
  }
  
  .plant-card p {
    margin-bottom: 10px;
    padding-right: 250px;
  }
  
  .plant-card button {
    background-color: rgb(57, 54, 54);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .plant-card button:hover {
    background-color: #53a045;
  }
  .cart{
    padding-left: 50px;
    border-radius: 30px;
    font-size: 20px;
  }
  .cart:hover{
    color: rgb(18, 19, 18);
    
  }
  .star{
    padding-right: 250px;
  }